* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background-image: url("assets/backgrouns2.jpg");
    background-size: cover 100vh;
    background-repeat: no-repeat;
    
    
}

.logo {
    width: 300px;
    height: 300px;
    display: block;
    margin: 20px auto;
}

main {
    width: 1600px;
    height: 500px;
    border-radius: 20px;
    background: #F4F4F4;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
    display: flex;
}

.valores {
    width: 50%;
    padding: 20px;

}

label {
    font-size: 14px;
    font-weight: 400;
    color: #777;
}

select {
    border-radius: 4px;
    border: 1px solid #BBB;
    background: #FFF;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #555;
    cursor: pointer;
}

input {
    border-radius: 4px;
    border: 1px solid #BBB;
    background: #FFF;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
    height: 48px;
    width: 100%;
    color: #555;
    font-size: 16px;
    font-weight: 700;
    padding-left: 18px;
    cursor: text;
}

button {
    border-radius: 5px;
    background: #772FD3;
    height: 48px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 36px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border-radius: 20px;
    border: 1px solid #772FD3;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.arrow-img {
    margin: 25px 0;

}

.currency-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}


.moeda {
    color: #777;
    font-size: 14px;
    font-weight: 400;
}

.valor-convertido {
    color: #555;
    font-size: 20px;
    font-weight: 700;
}

.valor-a-converter{
    color: #555;
    font-size: 20px;
    font-weight: 700;
}

 @media(max-width: 1600px){
    
    body{
        background-image: url(./assets/mobile-wpp.jpg);
        background-size: cover 
    }
    .logo{
        width: 150px;
        height: 150px;
    }
    
    
    main{
        width: 300px;
        height: 650px;
        display: flex;
        flex-direction: column;
    }

    .valores{
        width: 250px;
    }

    section{
        width: 250px;
        height: 200px;
        padding: 10px;
    }

    .moeda{
        margin: 0 10px;
    }

    .currency-box{
        display: flex;
        flex-direction: row;
    }

    .arrow-img{
        margin: 15px 0;
    }
 }
    
 